<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaliStore Editor</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">JAVALI</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a>Admin Panel</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><span class="glyphicon glyphicon-user"></span> Log out</a></li>
          </ul>
        </div>
    </nav>
    <div class="container" style="max-width: 1000px;">
      <img class=logoImg src="javaliLogo.png" alt="JavaliLogo">
        <h1>Admin Store Editor</h1>
        
        <table class="flex-item">
            <tr>
                <th class="text-center">Artwork</th>
                <th class="text-center">Pruduct</th>
                <th class="text-center">Price</th>
                <th class="text-center">Category</th>
                <th class="text-center">ObjectID</th>
                <th class="text-center">Delete?</th>
            </tr>
            <tr>
                <td><img class='tableImg' src="background.jpg" alt=""></td>
                <td>Example1</td>
                <td>5$</td>
                <td>Songs</td>
                <td>5</td>
                <td><input class="toDelete" type="checkbox"></td>
            </tr>
            <%itemsList.forEach((item,index) =>{%>
                <tr>
                    <td><img class='tableImg' src="/files/<%=item.imgUrl%>" alt=""></td>
                    <td><%=item.itemName%></td>
                    <td><%=item.price%>$</td>
                    <td><%=item.itemCategory%></td>
                    <td><%=item._id%></td>
                    <td><input class="toDelete" type="checkbox" id=<%=item._id%>></td>
                </tr>
            <%})%>
        </table>
        <br/>
        <input class="flex-item,btn btn-danger" type="button" onclick="sendInvisibleForm()" value="Delete">
        <br/>
        <br/>
        <div class="flex-container,flex-item" >
            <input type="button" class="flex-item" onclick="history.back()" value="Back To Admin Panel">
        </div>
    </div>
    <form action="/deleteApi" method="post" id="deleteApiForm" hidden>
        <input type="text" id="objectIDToDelete" name="objectIDToDelete">
        <input type="text" id="deleteTable" name="deleteTable" value="Items">
    </form>
</body>
<script>
    function sendInvisibleForm(){
        let rowsToDeleteHTml = document.getElementsByClassName("toDelete");
        var arr = [...rowsToDeleteHTml];
        var arrDelete=[];
        arr.forEach(element => {
            if(element.checked){
                arrDelete.push(element.id)
            }
        });
        document.getElementById("objectIDToDelete").value = arrDelete;
        document.getElementById("deleteApiForm").submit();
    };
</script>
</html>